@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400;1,600;1,700;1,800;1,900&display=swap');

html {
  height: 100%;
}

h1,
h2,
h2 {
  font-weight: 900;
}

.card-primary.card-light:hover {
  cursor: pointer;
  background-color: #fffb1f !important;
}

.active {
  border-bottom: 3px solid #f4063f !important;
}

/* Dropdown custom */

.dropdown-menu-horizontal {
}

.dropdown-menu-horizontal ul {
  position: absolute;
}

.dropdown-menu-horizontal .content-dropdown {
  border-radius: 20px;
  overflow: hidden;
  background-color: var(--color-white);
  box-shadow: 0px 0px 7px 0px #cccccc78;
}

.dropdown-menu-horizontal .item-dropdown {
}

/* Footer */
.footer {
  overflow: hidden;
}
.footer .footer-container {
}

.footer .footer-copyright-text small {
  font-weight: 300;
  line-height: 1.2;
  font-size: 0.7rem;
  color: #7c7c7c;
}
.footer .footer-nav {
}

.footer .footer-nav-col {
  float: left;
}

.footer .footer-nav .footer-menu-item {
}
.footer .footer-nav .footer-menu-item b {
}
.footer .footer-nav .footer-menu-item a {
  font-weight: 300;
  font-size: 0.8rem;
  color: #000000;
}
/* Card product */
.card-product-item-li {
  border-radius: 15px;
  padding: 5px;
  float: left;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.card-product-item-li:hover {
  border-radius: 15px;
  padding: 5px;
  box-shadow: 0px 0px 7px 0px #cccccc78;
}

/* Reponsive custom */

/* Max */

@media only screen and (max-width: 768px) {
  .footer .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

/* Min */
@media only screen and (min-width: 360px) {
  .card-product-item-li {
    width: 50%;
  }
}

@media only screen and (min-width: 480px) {
  .card-product-item-li {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .card-product-item-li {
    width: 33.33%;
  }
}
@media only screen and (min-width: 1024px) {
  .card-product-item-li {
    width: 25%;
  }
  .footer .footer-nav-col {
    width: 50%;
  }
}
@media only screen and (min-width: 1280px) {
  .card-product-item-li {
    width: 16.66%;
  }
  .footer .footer-nav-col {
    width: 33%;
  }
}
@media only screen and (min-width: 1680px) {
  .card-product-item-li {
    width: 16.66%;
  }
  .footer .footer-nav-col {
    width: 33%;
  }
}

/*
  * @Roots 
  */

:root {
  --theme-primary-color: #f4063f;
  --theme-secundary-color: #ff7a0d;
  --theme-dark-background: rgb(1, 43, 35);
  --theme-light-background: #fff4f4;
  --theme-white-background: #ffffff;
  --theme-grey-background: #f3efef;
  --theme-shadow: 0 1px 4px 0 rgb(0, 0, 0, 0.1);
  --theme-border: 1.4px solid #f3efef;
  --theme-font-title: #000000;
  --theme-font-link: #f4063f;
  --theme-font-link-hover: rgb(204 53 53);
  --theme-font-text: #000000;
  --input-focus: #f6f6f8;
  --button-focus: #f6f6f8;
  --color-red: #f4063f;
  --color-blue: #2030de;
  --color-green: #37dd62;
  --color-yellow: #ffd110;
  --color-black: #000000;
  --color-orange: #ff7a0d;
  --color-gray: #f6f6f8;
  --color-white: #ffffff;
}
