html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-style: none;
  text-decoration: none;
  list-style: none;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 500;
}

body {
  font-family: 'Ubuntu-Regular', sans-serif;
  color: var(--theme-font-text);
  line-height: 1;
  background: var(--theme-white-background);
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

ins {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
  * @Containers 
  */

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
    clear: both;
    display: table;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1140px;
    clear: both;
  }
}
@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    max-width: 960px;
    clear: both;
  }
}
@media (min-width: 768px) {
  .container,
  .container-md,
  .container-sm {
    max-width: 720px;
    clear: both;
  }
}
@media (min-width: 576px) {
  .container,
  .container-sm {
    max-width: 400px;
    clear: both;
  }
}

.wrapper {
}

.container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
  width: 100%;
  padding-right: 0, 0.75rem;
  padding-left: 0, 0.75rem;
  margin-right: auto;
  margin-left: auto;
  clear: both;
}

/*
  * @Directions 
  */

.content-column {
  display: flex;
  flex-direction: column;
  align-items: self-end;
}

.content-row {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.content-align-horizontal {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.content-align-vertical {
  display: flex !important;
  flex-direction: row;
  align-items: center;
}

.content-align {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

/*
  * @Default displays 
  */

.between-display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-display {
  display: flex;
  align-items: center;
}

.block-display {
  display: block;
}

.table-display {
  display: table;
}

/*
  * @columns 
  */

[class*='hidden-'] {
  display: none;
}

[class*='column-'] {
  width: 100%;
  float: left;
  transition: 0.3s;
}
.responsive-align {
  display: flex;
  justify-content: center;
  align-content: center;
}

@media only screen and (min-width: 480px) {
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .hidden-1 {
    display: block;
  }
  .responsive-align {
    display: flex;
    justify-content: flex-start;
    align-content: center;
  }
  .column-1 {
    width: 8.33%;
  }
  .column-2 {
    width: 16.66%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33%;
  }
  .column-5 {
    width: 41.66%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33%;
  }
  .column-8 {
    width: 66.66%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33%;
  }
  .column-11 {
    width: 91.66%;
  }
  .column-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1024px) {
  .column-1 {
    width: 8.33%;
  }
  .column-2 {
    width: 16.66%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33%;
  }
  .column-5 {
    width: 41.66%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33%;
  }
  .column-8 {
    width: 66.66%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33%;
  }
  .column-11 {
    width: 91.66%;
  }
  .column-12 {
    width: 100%;
  }
}
@media only screen and (min-width: 1680px) {
  .column-1 {
    width: 8.33%;
  }
  .column-2 {
    width: 16.66%;
  }
  .column-3 {
    width: 25%;
  }
  .column-4 {
    width: 33.33%;
  }
  .column-5 {
    width: 41.66%;
  }
  .column-6 {
    width: 50%;
  }
  .column-7 {
    width: 58.33%;
  }
  .column-8 {
    width: 66.66%;
  }
  .column-9 {
    width: 75%;
  }
  .column-10 {
    width: 83.33%;
  }
  .column-11 {
    width: 91.66%;
  }
  .column-12 {
    width: 100%;
  }
}
/*
  * @Grid displays 
  */

.grid-display-1 {
  display: grid;
  place-self: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}
.grid-display-2 {
  display: grid;
  place-self: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}
.grid-display-3 {
  display: grid;
  place-self: center;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.grid-display-4 {
  display: grid;
  place-self: center;
  grid-template-columns: repeat(8, 1fr);
  gap: 25px;
}
.grid-display-5 {
  display: grid;
  place-self: center;
  grid-template-columns: repeat(12, 1fr);
  gap: 25px;
}
/*
  * @Positions displays 
  */

.fixed-position {
  position: fixed;
}

.block-position {
  position: relative;
}

.absolute-position {
  position: absolute;
}

.relative-position {
  position: relative;
}

/*
  * @Columns
  */

.col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@media (min-width: 768px) {
  .col-rs-1 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 5%;
    flex: 0 0 5%;
    max-width: 5%;
  }
  .col-rs-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
    max-width: 10%;
  }
  .col-rs-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 15%;
    flex: 0 0 15%;
    max-width: 15%;
  }
  .col-rs-4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
  }
  .col-rs-5 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-rs-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-rs-7 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 35%;
    flex: 0 0 35%;
    max-width: 35%;
  }
  .col-rs-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 40%;
    flex: 0 0 40%;
    max-width: 40%;
  }
  .col-rs-9 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 45%;
    flex: 0 0 45%;
    max-width: 45%;
  }
  .col-rs-10 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/*
  * @Default padding 
  */

.pd-1 {
  padding: 0.2em;
}

.pd-2 {
  padding: 0.4em;
}

.pd-3 {
  padding: 0.6em;
}

.pd-4 {
  padding: 0.8em;
}

.pd-5 {
  padding: 1em;
}

.pd-6 {
  padding: 1.2em;
}

.pd-7 {
  padding: 1.4em;
}

.pd-8 {
  padding: 1.6em;
}

.pd-9 {
  padding: 1.8em;
}

.pd-10 {
  padding: 2em;
}

.pd-t-1 {
  padding-top: 0.2em;
}

.pd-t-2 {
  padding-top: 0.4pc;
}

.pd-t-3 {
  padding-top: 0.6em;
}

.pd-t-4 {
  padding-top: 0.8em;
}

.pd-t-5 {
  padding-top: 1em;
}

.pd-t-6 {
  padding-top: 3em;
}

.pd-t-7 {
  padding-top: 5em;
}

.pd-t-8 {
  padding-top: 7em;
}

.pd-t-9 {
  padding-top: 9em;
}

.pd-t-10 {
  padding-top: 11em;
}

.pd-l-1 {
  padding-left: 0.2em;
}

.pd-l-2 {
  padding-left: 0.4em;
}

.pd-l-3 {
  padding-left: 0.6em;
}

.pd-l-4 {
  padding-left: 0.8em;
}

.pd-l-5 {
  padding-left: 1em;
}

.pd-l-6 {
  padding-left: 3em;
}

.pd-l-7 {
  padding-left: 5em;
}

.pd-l-8 {
  padding-left: 7em;
}

.pd-l-9 {
  padding-left: 9em;
}

.pd-l-10 {
  padding-left: 11em;
}

.pd-r-1 {
  padding-right: 0.2em;
}

.pd-r-2 {
  padding-right: 0.4em;
}

.pd-r-3 {
  padding-right: 0.6em;
}

.pd-r-4 {
  padding-right: 0.8em;
}

.pd-r-5 {
  padding-right: 1em;
}

.pd-r-6 {
  padding-right: 3em;
}

.pd-r-7 {
  padding-right: 5em;
}

.pd-r-8 {
  padding-right: 7em;
}

.pd-r-9 {
  padding-right: 9em;
}

.pd-r-10 {
  padding-right: 11em;
}

.pd-b-1 {
  padding-bottom: 0.2em;
}

.pd-b-2 {
  padding-bottom: 0.4em;
}

.pd-b-3 {
  padding-bottom: 0.6em;
}

.pd-b-4 {
  padding-bottom: 0.8em;
}

.pd-b-5 {
  padding-bottom: 1em;
}

.pd-b-6 {
  padding-bottom: 3em;
}

.pd-b-7 {
  padding-bottom: 5em;
}

.pd-b-8 {
  padding-bottom: 7em;
}

.pd-b-9 {
  padding-bottom: 9em;
}

.pd-b-10 {
  padding-bottom: 11em;
}
/*
  * @Default margin 
  */

.mg-auto {
  margin: 0 auto;
}

.mg-1 {
  margin: 0.2em;
}

.mg-2 {
  margin: 0.4em;
}

.mg-3 {
  margin: 0.6em;
}

.mg-4 {
  margin: 0.8em;
}

.mg-5 {
  margin: 1em;
}

.mg-6 {
  margin: 3em;
}

.mg-7 {
  margin: 5em;
}

.mg-8 {
  margin: 7em;
}

.mg-9 {
  margin: 9em;
}

.mg-10 {
  margin: 11em;
}

.mg-t-1 {
  margin-top: 0.2em;
}

.mg-t-2 {
  margin-top: 0.4em;
}

.mg-t-3 {
  margin-top: 0.6em;
}

.mg-t-4 {
  margin-top: 0.8em;
}

.mg-t-5 {
  margin-top: 1em;
}

.mg-t-6 {
  margin-top: 3em;
}

.mg-t-7 {
  margin-top: 5em;
}

.mg-t-8 {
  margin-top: 7em;
}

.mg-t-9 {
  margin-top: 9em;
}

.mg-t-10 {
  margin-top: 11em;
}

.mg-l-1 {
  margin-left: 0.2em;
}

.mg-l-2 {
  margin-left: 0.4em;
}

.mg-l-3 {
  margin-left: 0.6em;
}

.mg-l-4 {
  margin-left: 0.8em;
}

.mg-l-5 {
  margin-left: 1em;
}

.mg-l-6 {
  margin-left: 3em;
}

.mg-l-7 {
  margin-left: 5em;
}

.mg-l-8 {
  margin-left: 7em;
}

.mg-l-9 {
  margin-left: 9em;
}

.mg-l-10 {
  margin-left: 11em;
}

.mg-r-1 {
  margin-right: 0.2em;
}

.mg-r-2 {
  margin-right: 0.4em;
}

.mg-r-3 {
  margin-right: 0.6em;
}

.mg-r-4 {
  margin-right: 0.8em;
}

.mg-r-5 {
  margin-right: 1em;
}

.mg-r-6 {
  margin-right: 3em;
}

.mg-r-7 {
  margin-right: 5em;
}

.mg-r-8 {
  margin-right: 7em;
}

.mg-r-9 {
  margin-right: 8em;
}

.mg-r-10 {
  margin-right: 11em;
}

.mg-b-1 {
  margin-bottom: 0.2em;
}

.mg-b-2 {
  margin-bottom: 0.4em;
}

.mg-b-3 {
  margin-bottom: 0.6em;
}

.mg-b-4 {
  margin-bottom: 0.8em;
}

.mg-b-5 {
  margin-bottom: 1em;
}

.mg-b-6 {
  margin-bottom: 3em;
}

.mg-b-7 {
  margin-bottom: 5em;
}

.mg-b-8 {
  margin-bottom: 7em;
}

.mg-b-9 {
  margin-bottom: 9em;
}

.mg-b-11 {
  margin-bottom: 11em;
}

/*
  * @Borders 
  */

.border-dashed {
  border: dashed;
}
.border-t-dashed {
  border-top: dashed;
}
.border-b-dashed {
  border-bottom: dashed;
}
.border-l-dashed {
  border-left: dashed;
}
.border-r-dashed {
  border-right: dashed;
}
.border-solid {
  border: solid;
}
.border-t-solid {
  border-top: solid;
}
.border-b-solid {
  border-bottom: solid;
}
.border-l-solid {
  border-left: solid;
}
.border-r-solid {
  border-right: solid;
}
.border-s-1 {
  border-width: 1px;
}
.border-s-2 {
  border-width: 0.2rem;
}
.border-s-3 {
  border-width: 0.3rem;
}
.border-s-4 {
  border-width: 0.4rem;
}
.border-c-1 {
  border-color: var(--color-gray);
}
.border-c-2 {
  border-color: #f5f5f7;
}
/*
  * @Titles 
  */

.title-s-1 {
  font-size: 1em;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}
.title-s-2 {
  font-size: 1.2em;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}
.title-s-3 {
  font-size: 1.4em;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}
.title-s-4 {
  font-size: 1.6;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}
.title-s-5 {
  font-size: 1.8em;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}
.title-s-6 {
  font-size: 2em;
  font-family: 'Ubuntu', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.3;
}
/*
  * @Buttons 
  */

.btn {
  display: table;
  background: none;
  border-radius: 10px;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn:hover {
  cursor: pointer;
  border-radius: 10px;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.btn:active {
  border-radius: 100px;
  transform: scale(0.9);
  background-color: transparent;
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.btn-s-2 {
  background: none;
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.btn-s-2:hover {
  cursor: pointer;
  background-color: var(--button-focus);
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.btn-s-2:active {
  border-radius: 5px;
  transform: scale(0.9);
  background-color: var(--button-focus);
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.btn-primary {
  display: flex;
  min-width: 18rem;
  height: 3rem;
  border-radius: 0.5em;
  border: none;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-blue);
}

.btn-secondary {
  min-width: 18rem;
  height: 3rem;
  border-radius: 0.5em;
  border: none;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
}

/*
  * @Forms 
  */

@media (max-width: 800px) {
  .form-group {
    flex-direction: column;
    align-items: stretch;
  }
  .form .input {
    width: 100%;
  }
}

.form-group {
  width: 100%;
  display: flex;
}

.input {
  width: 100%;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form .input-primary {
  width: 100%;
  height: 40px;
  background-color: var(--color-white);
  border-radius: 50px;
  border: 0.6px solid var(--color-gray);
  color: var(--color-black);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.form .input-secondary {
  height: 40px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  border: 0.6px solid var(--color-gray);
  color: var(--color-black);
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: var(--color-white);
}

.form .input:focus {
  color: #495057;
  background-color: #fff;
  border-color: var(--color-red);
  box-shadow: 0 0 0 0.2rem var(--input-focus);
  outline: 0;
}

.form .form-row {
  display: flex;
  width: 100%;
}
/*
  * @Toogle 
  */

.toggle .switch {
  position: relative;
  display: inline-block;
  width: 2.5em;
  height: 1.5em;
}

.toggle .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle .slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggle input:checked + .slider {
  background-color: var(--color-red);
}

.toggle input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}

.toggle .slider.round {
  border-radius: 34px;
}

.toggle .slider.round:before {
  border-radius: 50%;
}

/*
  * @Background 
  */

.bg-light {
  background-color: var(--theme-grey-background);
}

.bg-dark {
  background-color: var(--theme-dark-background);
}

.bg-white {
  background-color: var(--theme-white-background);
}

.bg-grey {
  background-color: var(--theme-grey-background);
}

/*
  * @Cards 
  */

.card-light {
  background: var(--color-white);
  overflow: hidden;
}

.card-dark {
  background: var(--color-white);
  overflow: hidden;
}

.card-primary {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.card-primary .card-header {
  display: flex;
  justify-content: space-between;
}

.card-primary .card-content {
  display: flex;
  justify-content: center;
}

.card-primary .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.card-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  border: 0.2px solid #f5f5f5;
}

.card-list .card-header {
  display: flex;
  justify-content: space-between;
}

.card-list .card-list-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-list .card-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

/*
  * @Tables 
  */
.table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.2em;
}

.table td,
.table th {
  padding: 1em;
  margin-bottom: 10px;
}

.table tr:hover {
  background-color: var(--theme-light-background) !important;
  text-align: left;
}

.table-light tr {
  text-align: left;
}

.table-light tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

/*
  * @Fonts 
  */

@font-face {
  font-family: 'Ubuntu-Bold';
  src: url('/public/assets/fonts/Ubuntu-Bold.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu-Light';
  src: url('/public/assets/fonts/Ubuntu-Light.ttf') format('ttf');
}
@font-face {
  font-family: 'Ubuntu-Medium';
  src: url('/public/assets/fonts/Ubuntu-Medium.ttf') format('ttf');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: url('/public/assets/fonts/Ubuntu-Regular.ttf') format('ttf');
}

/*
  * @Scroll 
  */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background: rgb(185 185 185);
  -webkit-box-shadow: inset 0 0 6px rgb(185 185 185);
}

/* Animations */

.transition-s-1 {
  -webkit-transition: 0.1s ease-in;
  -moz-transition: 0.1s ease-in;
  -o-transition: 0.1s ease-in;
  transition: 0.1s ease-in;
}

.transition-s-2 {
  -webkit-transition: 0.2s ease-in;
  -moz-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.transition-s-3 {
  -webkit-transition: 0.3s ease-in;
  -moz-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.transition-s-8 {
  -webkit-transition: 0.8s ease-in;
  -moz-transition: 0.8s ease-in;
  -o-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

/* In animations */
.animations-show-in {
  transform: scale(1);
  animation-name: animations-show-in;
  animation-duration: 0.3s;
}
@keyframes animations-show-in {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.animations-hidden-out {
  transform: scale(1);
  animation-name: animations-hidden-out;
  animation-duration: 0.5s;
}
@keyframes animations-hidden-out {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(3);
  }
}

/* DropDown animation */

.dropdown-menu-horizontal {
}

.dropdown-menu-horizontal .content-dropdown {
  border-radius: 20px;
  overflow: hidden;
  position: absolute;
  background-color: var(--color-white);
}

.dropdown-menu-horizontal .item-dropdown {
}